/** @format */

// Reset

body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:focus {
  outline: none;
}

img {
  max-width: 100%;
}

:not(:defined) > * {
  display: none;
}

*:focus {
  outline: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #36393e;
  overflow: hidden;
}

// Typography


body {
  * {
    font-family: "Poppins", sans-serif;
  }
  h1 {
    @include fluid-type(22px, 80px);

  }
  p {
    @include fluid-type(16px, 40px);
    font-weight: 300;
  }
}


