/** @format */



html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:focus {
  outline: none;
  outline: 0;
}

img {
  max-width: 100%;
}

:not(:defined) > * {
  display: none;
}

