body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.marker {
  cursor: pointer;
  // background: white;
  // border-radius: 100%;
  // border: solid red 4px;
}

.avatar-marker img {
  transition: transform 10ms 10ms;
}

.nav {
  position: absolute;
  width: 100%;
}

.nav h2 {
  line-height: 1;
  margin: 0;
  text-align: left;
  font-size: 14px;

  background: black;
  color: white;
  font-family: Courier;
  font-weight: normal;
  padding: 7px 8px;
}

#menu {
  position: absolute;
  padding: 3px 10px;
  font-family: Courier;
  right: 10px;
  color: white;
  font-size: 13px;
}

.email-capture {
  z-index: 999;
  position: absolute;
  bottom: 0;
  background: #54677b;
  width: 100%;
  font-family: Arial;
  color: white;
  border-radius: 22px 22px 0 0;
  box-shadow: 0px -1px 1px 0px #ffffff96, 0px -1px 1px 0px #0d00686e;
  border-top: solid 1px #7777778c;
  text-align: center;

  opacity: 1;

  transition: opacity 0.4s ease-in-out;

  h2 {
    font-size: 1.5em;
    margin: 10px 0 5px 0;
  }
  p {
    font-size: 1.1em;
    margin: 5px 0 10px 0;
  }
}
.email-input {
  padding: 13px 30px;
  width: 85%;
  border-radius: 122px;
  border: none;
  background: #4b5e6f;
  margin: 0 0 20px 0;
  font-size: 1.2em;
  color: #ffffff;
  box-shadow: 0px 0px 2px 0px #292929a1;

  &::placeholder {
    color: #979da3;
    text-align: center;
  }
}

.mapboxgl-popup-content {
  border-radius: 7px;

  h2 {
    font-family: Arial;
    font-size: 1.5em;
    margin: 0.4em 0;
  }
  p {
    font-family: Arial;
    margin-bottom: 4px;
    line-height: 1.3em;
    margin-top: 9px;
  }
}

.mapboxgl-popup-close-button {
  color: black;
  font-size: 1.4em;
  font-weight: bold;
  top: 3px;
  right: -4px;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
  // padding: 5px 10px;
  border-radius: 5px;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  color: black;
  z-index: 999;

}

@media screen and (min-width: 0px) and (max-width: 640px) {
  #menu {
    /* hide it on small screens */
    display: none;
  }
}
