body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.marker {
    cursor: pointer;
}

.nav {
    position: absolute;
    width: 100%;
}

.nav h2 {
    line-height: 1;
    margin: 0;
    text-align: left;
    font-size: 14px;

    background: black;
    color: white;
    font-family: Courier;
    font-weight: normal;
    padding: 7px 8px;
}

#menu {
    position: absolute;
    padding: 3px 10px;
    font-family: Courier;
    right: 10px;
    color: white;
    font-size: 13px;
}

@media screen and (min-width: 0px) and (max-width: 640px) {
    #menu { 
        /* hide it on small screens */
        display: none;
    }

    
}