body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.marker {
  cursor: pointer;
  // background: white;
  // border-radius: 100%;
  // border: solid red 4px;
}

.avatar-marker img {
  transition: transform 10ms 10ms;
}

.nav {
  position: absolute;
  width: 100%;
}

.nav h2 {
  line-height: 1;
  margin: 0;
  text-align: left;
  font-size: 14px;

  background: black;
  color: white;
  font-family: Courier;
  font-weight: normal;
  padding: 7px 8px;
}

#menu {
  position: absolute;
  padding: 3px 10px;
  font-family: Courier;
  right: 10px;
  color: white;
  font-size: 13px;
}

.email-capture {
  z-index: 999;
  position: absolute;
  bottom: 0;
  background: #54677b;
  width: 100%;
  font-family: Arial;
  color: white;
  border-radius: 22px 22px 0 0;
  box-shadow: 0px -1px 1px 0px #ffffff96, 0px -1px 1px 0px #0d00686e;
  border-top: solid 1px #7777778c;
  text-align: center;

  opacity: 1;

  transition: opacity 0.4s ease-in-out;

  h2 {
    font-size: 1.5em;
    margin: 10px 0 5px 0;
  }
  p {
    font-size: 1.1em;
    margin: 5px 0 10px 0;
  }
}
.email-input {
  padding: 13px 30px;
  width: 85%;
  border-radius: 122px;
  border: none;
  background: #4b5e6f;
  margin: 0 0 20px 0;
  font-size: 1.2em;
  color: #ffffff;
  box-shadow: 0px 0px 2px 0px #292929a1;

  &::placeholder {
    color: #979da3;
    text-align: center;
  }
}

.mapboxgl-popup-content {
  border-radius: 7px;
  background-color: #4b5e6f;
  color: white;

  font-family: Arial;
  border-radius: 22px;
  box-shadow: 0px -1px 1px 0px #ffffff96, -2px -1px 1px 0px #0d00686e, 0px 1px 2px 0px #ffffff16;
  border-top: solid 1px #7777778c;
  text-align: center;

  h2 {
    font-family: Arial;
    font-size: 1.5em;
    margin: 0.4em 0;
  }
  p {
    font-family: Arial;
    margin-bottom: 4px;
    line-height: 1.3em;
    margin-top: 9px;
  }
  a {
    color: #b3bcff;
  }
}

.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
  border-top-color: #4b5e6f;
  margin-top: -1px;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #4b5e6f;
}
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: #4b5e6f;
  margin-bottom: -1px;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-right-color: #4b5e6f;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #4b5e6f;
}

.mapboxgl-popup-tip {
  border: 20px solid transparent;
}

.mapboxgl-popup-close-button {
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  top: 3px;
  right: 7px;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;

  img {
    width: 40px;
    height: 40px;
  }
}

.tether-headset {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
  background-color: black;
  color: white;
  font-family: Arial;
  border-radius: 30px;
  padding: 10px 20px;
  text-decoration: none;
  // font-weight: bold;
  font-size: 1.2em;
  // border: solid 1px white;
  box-shadow: 0px -1px 1px 0px #ffffff71, -1px -1px 1px 0px #0e00683e, 0px 1px 2px 0px #ffffff16;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 28vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  p:nth-child(1) {
    margin: 1em 0 1.7em 0;
  }
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.bordered {
  border-radius: 7px;
  background-color: #4b5e6f;
  color: white;

  font-family: Arial;
  border-radius: 22px;
  box-shadow: 0px -1px 1px 0px #ffffff96, -2px -1px 1px 0px #0d00686e, 0px 1px 2px 0px #ffffff16;
  border-top: solid 1px #7777778c;
  text-align: center;
}

.digit {
  font-size: 24px;
  margin: 0 2px;
  margin: 0 2px;
  font-family: Courier;
  background: #00000073;
  padding: 4px 11px;
  border-radius: 6px;
}

@media screen and (min-width: 0px) and (max-width: 640px) {
  #menu {
    /* hide it on small screens */
    display: none;
  }
  .mapboxgl-popup-close-button {
    right: -4px;
  }
}
