<!-- Generate a unique number to append to the js URLs so they dont get cached during development -->
{% assign cachedz = site.time | date: '%M%S' %} {% assign a = page.name | split: '.' %} {% assign page_name = a[0] %}

<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body class="waitlist">
    <p>The World is a Game</p>
    <h1>GG</h1>

    <form id="EmailCapture">
      <input type="email" placeholder="luke@skywalker.com" id="EmailInput" name="email" />
      <button value="Join" type="submit" id="JoinButton">Join Waitlist</button>

      <br />
      <br />
    </form>

    <script type="module" src="{{site.baseurl}}/scripts/frontend/waitlist.js?cachedz={{ cachedz }}"></script>
  </body>
</html>
