<!-- @format -->
{% assign cachedz = site.time | date: '%M%S' %}

{% assign a = page.name | split: '.' %} {% assign page_name = a[0] %}

<!DOCTYPE html>
<html>
  <head>
   {% include head.html %}
   <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>

  </head>
  <body>
    {{ content }}

    <style>
      model-viewer#reveal {
        --poster-color: transparent;
      }
    </style>

    <!-- <img class="logo" src="/assets/icon-256.png" /> -->

    <model-viewer
      class="zapper"
      bounds="tight"
      orientation="0deg -10deg 50deg"
      disable-zoom
      ar-modes="none"
      camera-controls
      environment-image="/assets/pillars_1k.hdr"
      shadow-intensity="1.47"
      shadow-softness="1"
      touch-action="none"
      cors="false"
    >
    </model-viewer>

    <div class="loading-container">
      <p><span id="Status">{{ page.loading_text }}...</span></p>
    </div>

    <!-- <div class="spotlight-container">
      <img src="/assets/spotlight.png" class="spotlight hide" />
    </div> -->

    <!-- <div class="forging-container">
      <div class="progress-bar">
        <div class="update-bar"></div>
      </div>
    </div> -->

    <div class="btn-container hide">
      <button class="btn" id="DiscordBtn">.,.</button>
      <!-- <p><img src="/assets/discord.svg" /> argg is a discord community for AR games</p> -->
    </div>

    <script type="module" src="/scripts/item.js?cachedz={{ cachedz }}"></script>
  </body>
</html>
